<sebm-google-map 
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapClick)="mapClicked($event)">

 <sebm-google-map-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m, $event)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [visible]="true"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">
          <sebm-google-map-info-window>
              <strong>{{m.name}}</strong>
              </sebm-google-map-info-window>
</sebm-google-map-marker>

<!--<sebm-google-map-circle [latitude]="m.lat + 0.3" [longitude]="m.lng" 
    [radius]="5000"
    [fillColor]="'red'"
    [circleDraggable]="true"
    [editable]="true">
</sebm-google-map-circle>-->


</sebm-google-map>